@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;

  background-color: #f2f3f4;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px;
}

#main {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

h1 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputs {
  width: 190px;
  height: 25px;
}

#criarProduto {
  width: 150px;
  height: 35px;
}

#sair {
  width: 60px;
  height: 30px;
}

#produtos {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 200px;

  border: solid black 1px;
  border-radius: 5px;
  gap: 10px;
  font-size: 14px;
}
#card p {
  padding: 10px;
}
img {
  width: 100px;
  height: 100px;
}
