@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;

  background-color: #f2f3f4;
}

#root {
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#perfil {
  width: 500px;
  height: 500px;

  background-color: #e2ac3f;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;

  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

#input_newname {
  width: 300px;
  height: 50px;

  display: none;

  border-radius: 10px;
  border: none;
  padding: 10px;
}

button {
  width: 100px;
  height: 50px;

  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;

  background-color: rgb(212, 230, 246);
}

h1 {
  font-size: 30px;
}

#submit {
  width: 100px;
  height: 100px;

  background-color: #000000;
}
