@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

#logo {
  height: 215px;
  width: 215px;
  margin-bottom: -50px;
}

#dog {
  width: 1250px;
  height: 1200;
  z-index: 0;
  bottom: 0;
  position: absolute;

  position: fixed; /* fixa no fundo da tela */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* centraliza */
  z-index: -1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

body {
  background-color: rgba(206, 148, 97, 0.5);
  margin: 0;
  padding: 0;
  position: relative;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 100%;
  /* ocupa 100% da altura da tela */
  width: 100%;
  z-index: 2;
}

.logo {
  margin-top: -150px;
  color: #ffffff;
  padding: 20px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 69, 28);
  gap: 19px;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.1em;
  font-size: 20px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  width: 250px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  color: #ce9461;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 170px;
}
